body {
  background-color: #065a8e;
  background-image: linear-gradient(30deg, #065a8e 0%, #fee2e2 99%);
  height: 765px;
}

.positionCalcBody {
  position: fixed;
  left: 100px;
  right: 100px;
  top: 100px;
  bottom: 100px;
  
  display: flex;
  align-items: center;
  justify-content: center;
}

.calcBody {
  background-color: #ffd3d3;
  background-image: linear-gradient(180deg, #ffd3d3 0%, #6284FF 50%, #130113 100%);

  width: 300px;
  height: 450px;
  border-radius: 10px;
  
}

.calcOutput  {
  min-height: 200px; background-color: transparent; 
  border: none; outline: none; text-align: right;
}

.calcInput {

}